/* home.css */
.custom-box-component {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-sm) * 2);
    background-color: var(--box-color);

    border-radius: var(--spacing-sm);
    gap: var(--spacing-md);
}

.audit-result-component {
    gap: var(--spacing-sm);
    padding-top: var(--spacing-md);
    width: 100%;
}

.audit-result-horizontal-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    width: 100%;
}

.audit-result-vertical-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.audit-result-vertical-container.left {
    width: 25%;
}

.audit-result-vertical-container.right {
    width: 75%;
}