.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 5rem;
}

.logo-container img {
    margin-bottom: 6rem;
}

.title-container h1 {
    text-align: start;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    color: #FC6E51;
    font-weight: normal;
}
.tool-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tool-container .input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-container input {
    width: 80%;
    border: 1px solid #FC6E51;
    padding: 0.75rem;
    font-size: 1em;
    outline: none;
}

.input-container button {
    cursor: pointer;
    width: 20%;
    background-color: #FC6E51;
    color: #fff;
    border: 0;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-container button:active {
    background-color: blue;
}

.input-container button img {
    width: 10%;
}

.agreement-input-container {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.agreement-input-container input {
    cursor: pointer;

}
.agreement-input-container a:visited {
    color: #FC6E51;
}