.social-media-component {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.social-media-component .social-media-row-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    width: 100%;
}

.social-media-component .social-media-row-container .social-media-box-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    border-radius: var(--spacing-sm);
    border: 1px solid var(--border-box-color);
    padding: var(--spacing-sm);
    width: 100%;
}

.social-media-box-container .box-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media-col-container .box-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media-box-container .box-title .info-button {
    cursor: pointer;
    width: 18px;
}


.social-media-box-container .box-title p {
    margin: 0;
    font-weight: bold;
}

.social-media-box-container p {
    margin: 0;
}

@media (max-width: 1300px) {

    /* rândurile devin coloană */
    .social-media-component .social-media-row-container {
        flex-direction: column;
    }
    .social-media-row-container.header-title {
        flex-direction: row;
        align-items: start;
    }

    /* title + icon să nu se înghesuie */
    .social-media-box-container .box-title {
        flex-direction: row;
        align-items: flex-start;
        gap: var(--spacing-sm);
    }

    /* text mai mic pe mobile */
    .social-media-component .header-title h2 {
        font-size: 1.4em;
    }

    /* prevenim overflow */
    .social-media-box-container p,
    .social-media-box-container a {
        overflow-wrap: anywhere;
    }
}
