:root {

  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;

  --box-color: #FFF;
  --normal-text-color: #FFFFFF;
  --input-text-color: #174336;
  --input-bg-color: #F6F6F6;
  --success-title-color: #24820A;
  --white-green-color: #F2FBE6;
  --faded-green-color: #729E91;
  --background-color: #F2FBE6;
}
body, input, button, textarea {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  background-color: var(--background-color);
  min-height: 100vh;
  font-family: 'Inter', sans-serif !important;
}

#root {
  padding: var(--spacing-sm);
}